<h1>LOGIN</h1>

<form action="/auth/login" method="post">
  <label for="username">USERNAME: </label>
  <input type="text" name="username" required />
  <br />
  <label for="password">PASSWORD: </label>
  <input type="text" name="password" required />
  <br />
  <button>LOGIN</button>
</form>