<nav>
  <ul class="header-navigation-list">
    <li>
      <a class="header-navigation-item" href="/">HOME</a>
    </li>
    {{#if isUserActive}}
    <li>
      <a class="header-navigation-item" href="/profile/{{this.userActiveId}}">PROFILE</a>
    </li>
    <li>
      <a class="header-navigation-item" href="/review/artist-search">CREATE REVIEW</a>
    </li>
    <li>
      <a class="header-navigation-item" style="color: red;" href=" /auth/logout">LOGOUT</a>
    </li>
    {{else}}
    <li>
      <a class="header-navigation-item" href="/auth/signup">SIGNUP</a>
    </li>
    <li>
      <a class="header-navigation-item" href="/auth/login">LOGIN</a>
    </li>
    {{/if}}
  </ul>
</nav>