<nav>
  <ul>
    <li>
      <a href="/">HOME</a>
    </li>
    {{#if isUserActive}}
    <li>
      <a href="/profile/{{this.userActiveId}}">PROFILE</a>
    </li>
    <li>
      <a href="/review/artist-search">CREATE REVIEW</a>
    </li>
    <li>
      <a style="color: red;" href=" /auth/logout">LOGOUT</a>
    </li>
    {{else}}
    <li>
      <a href="/auth/signup">SIGNUP</a>
    </li>
    <li>
      <a href="/auth/login">LOGIN</a>
    </li>
    {{/if}}
  </ul>
</nav>