<form class="header-search" action="/review/search" post="get">
    <div class="header-search-group">
        <label class="header-search-label" for="reviewSearch">SEARCH REVIEWS:</label>
        <input class="header-search-input" type="text" name="reviewSearch" />
    </div>
    <button class="button button-primary">SEARCH</button>
</form>