<form class="header-search" action="/review/search" post="get">
    <div class="header-search-group">
        <input class="header-search-input" type="text" name="reviewSearch" placeholder="Type an album or artist" />
        <button class="button button-primary">SEARCH</button>
    </div>
</form>