<main>
  <section class="container">
    <h1 class="profile-reviews-heading">{{albumName}}</h1>
  </section>
  <section class="container">
    {{>albumSheet this}}
  </section>
  <section class="container">
    <form action="/review/{{albumId}}/{{reviewId}}/create" method="post">
      {{>reviewForm this}}
    </form>
  </section>
</main>